* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 60px 0;
}

.App-header {
  width: 100%;
  background-color: #222;
  padding: 8px 20px;
  margin: 0;
  color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}

.App-header h1 {
  display: inline-block;

}

.App-header-createTaskButton {
  background-color: lightgreen;
  border: none;
  padding: 8px;
  float: right;
  cursor: pointer;
}

.App-header-signOutButton {
  background-color: red;
  border: none;
  padding: 8px;
  float: right;
  cursor: pointer;
}

.tasks {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.task {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  list-style-type: none;
}

.task-seperator {
  margin: 5px 0;
  padding: 5px 10px;
  list-style-type: none;
  color: #666666;
}
.task-seperator p {
  width: 15%;
  display: inline-block;
}
.task-seperator div {
  outline: 1px solid #d3d3d3;
  height: 0px;
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}